*{
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
}

body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to right,violet,cyan);
}
.calculator-grid{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: minmax(120px,auto) repeat(5,100px);
}
.calculator-grid .operator{
    background-color: darkorange;
}
.calculator-grid .operator:hover{
    background-color: lightsalmon;
}
.calculator-grid .delete{
    background-color: red;
}
.calculator-grid .delete:hover{
    background-color: rgb(233, 87, 87);
}
.calculator-grid>button{
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
    border-radius: 55px;
    
}
.calculator-grid>button:hover{
    background-color: rgba(255, 255, 255, .90);
}
.span-two{
    grid-column: span 2;
}
.output{
    grid-column: 1/-1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    
}
.previous-number{
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
    
}
.current-number{
    color: white;
    font-size: 2.5rem;
}


